<h1>Your Dashboard</h1>
<p>Hello, {{ user.username }}!</p>

<h2>Your Data Sources</h2>
<ul>
{% for source in user.profile.data_sources.all %}
<li>
    <strong>{{ source.name }}</strong> ({{ source.display_type }})

    {% if source.status == 'active' %}
        <a href="{% url 'view_data_source' source.id %}">(View Data)</a>
    {% endif %}

    <a href="{% url 'edit_data_source' source.id %}">(Edit)</a>
</li>
{% empty %}
    <li>You have not added any data sources yet.</li>
{% endfor %}
</ul>

<a href="{% url 'select_data_source_type' %}">Add a new Data Source</a><br>

<p><a href="{% url 'logout' %}">Logout</a></p>
