{% extends 'base.html' %}

{% block content %}
<h1>Your Dashboard</h1>
<p>Hello, {{ user.username }}!</p>

<h2>Your Data Sources</h2>
<ul>
{% for source in user.profile.data_sources.all %}
<li>
    <strong>{{ source.name }}</strong> ({{ source.display_type }})

    {% if source.status == 'active' %}
        <a href="{% url 'view_data_source' source.id %}">(View Data)</a>
    {% endif %}
    {% if source.status == 'pending' and source.model_name == 'AwareDataSource' %}
        <a href="{% url 'confirm_aware_source' source.id %}">(Check for Data)</a>
    {% endif %}

    <a href="{% url 'edit_data_source' source.id %}">(Edit)</a>

    <form style="display: inline;" method="post" action="{% url 'delete_data_source' source.id %}" onsubmit="return confirm('Are you sure you want to delete this source?');">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; color:red; cursor:pointer; text-decoration:underline;">(Delete)</button>
    </form>
</li>
</li>
{% empty %}
    <li>You have not added any data sources yet.</li>
{% endfor %}
</ul>

<a href="{% url 'select_data_source_type' %}">Add a new Data Source</a><br>

<hr>
<h2>Your Studies</h2>

{% if active_consents %}
    <h3>Active Studies</h3>
    <ul>
        {% for consent in active_consents %}
            <li>{{ consent.study.title }} - <a href="#">(Withdraw)</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if incomplete_consents %}
    <h3>Incomplete Studies</h3>
    <ul>
        {% for consent in incomplete_consents %}
            <li>
                You have not finished signing up for "{{ consent.study.title }}".
                <a href="{% url 'consent_workflow' consent.study.id %}">Continue Setup</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if past_consents %}
    <h3>Past Studies</h3>
    <ul>
        {% for consent in past_consents %}
            <li>{{ consent.study.title }} (Withdrawn on {{ consent.revocation_date|date:"Y-m-d" }})</li>
        {% endfor %}
    </ul>
{% endif %}

{% if not active_consents and not incomplete_consents and not past_consents %}
    <p>You have not joined any studies yet.</p>
{% endif %}


<p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}